[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
} 
h1 .glyphicon{
	font-size:initial;
	color: initial;
	margin-left: 2%;
	margin-bottom:2%;
}
.dropTarget {
    height: 10em;
	width: 100%; 
    margin: auto;
}
.droppable {
    background-color: dodgerblue;
    cursor: move;
    overflow: auto;
}

